@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.hero-head {
  height: 10vh;
  color: #f9fbf2;
  background-color: #d7f9ff;
  display: flex;
  flex-direction: stretch;
  align-items: center;
  justify-content: bottom;
  gap: 20px;
}

.hero-container {
  height: 90vh;
  color: #f9fbf2;
  background-color: #0e1c36;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.hero-name {
}
.hero-statement {
}
